* {
  box-sizing: border-box;
  font-family: BPmono;
  background-color: rgba(46, 45, 45, 0.25);

}

@font-face {
  font-family: 'BPmono';
  src: url('BPmono.ttf') format('truetype')
}


body,
html {
  height: 100%;
  width: 100%;
  color: white;
  
  align-content: bottom center;

  background-color: rgba(9, 8, 8, 0.5);
}

#root {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 100%;
}

ul {
  background-color: rgba(3, 3, 3, 0.75);
  width: 50%;
  margin: 0 auto;
  border-radius: 75px;
}

footer {
background-color: rgba(3, 3, 3, 0.5);
font-weight: bolder;
  color: rgb(250, 250, 250);
  text-align: center;
  padding-top: 5px;
  font-size: 24px;
  min-height: 100px;
  /* padding-top: 20px;  */
  margin-top: 15px;

}

header {
 max-height: 100%;
  
}

.y-wrap {
  max-width: 100%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color:rgba(3, 3, 3, 0.5)
}

main {
  flex: 1;
  padding: 20px 0;
  /* background-color: red; */
background-image: url(./art3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

}

main:before {
  content: "";
    display: flex;
    width: 50%;
    height: 10px;
    position: absolute;

}

a {
  font-weight: bold ;
  color: white;
  text-decoration: inherit;
  gap: 10px;
  font-size: 32px;
  padding: 15px;
  border-style: solid;
  border-color: rgb(3, 207, 248);
border-radius: 45px;
margin-right: 70px;
height: 50px;
letter-spacing: 4px;

}

button {
Height: 30px;
width: 125px;
font-size: 24px;
font-weight: bolder;
}
.y-navs {
  display: flex;
  background-color: rgba(3, 3, 3, 0.75);
  padding: 5px;
  padding-right: 55px;
  height: 60px;
  background-color: transparent;
}

.y-navs a:first-of-type {
  flex: 1;
  margin: 0 0 0 32px;
  padding:5px
 
}

.y-navs a:not(:first-of-type) {
  margin: 0 0 0 16px;
  padding:5px
  
}

a:hover {
  color: rgb(3, 207, 248);
  background-color: rgba(46, 45, 45, 0.5);
  border-color: white;
  padding: 5px;
  font-weight: bolder;
}

.landingPitch {
  padding-left: 145px;
  padding-right: 145px;
  display: flex;
  font-size: 40px;
  font-family: BPmono;
  letter-spacing: 3px;
  text-align: center;
  color: white;
  font-weight: bolder;
}

.feature1 {
    max-width: 950px;
    letter-spacing: 3px;
    text-align: center;
    align-self: center;
}

.feature2 {
    max-width: 950px;
    letter-spacing: 3px;
    text-align: center;
    align-self: center;
}

.feature3 {
  max-width: 950px;
  letter-spacing: 3px;
  text-align: center;
  /* align-self: center; */
  align-content: center;
} 

li {
  font-size: 28px;
  font-family: BPmono;
  letter-spacing: 3px;
  justify-content: center;
  max-width: 750px;
  text-align: center;
  align-self: center;
}

#featureList {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  column-width: 950px;
  /* min-width: 950px; */
  text-align: center;
  color:rgb(3, 207, 248);
  /* align-items: right;
  align-self: right; */
  padding: 30px 0;
  position: relative;
}

#featureList:before {
  content: "";
  display: flex;
  width: 50%;
  height: 10px;
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 75px;
}





.sbtn {
    text-align: center;
    justify-content: center;
    font-size: 26px;
    font-family: BPmono;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
    width: 300px;
    max-height: 62px;
    color: white;
    background-color: rgba(3, 207, 248, 0.6);
    margin: 0 auto;
}

#header-search {
  text-align: center;
    font-size: 26px;
    font-family: BPmono;
    font-weight: bolder;
    letter-spacing: 3px;
    cursor: pointer;
    max-height: 45px;
    width: 700px;
    margin: 0 auto;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(250, 250, 250)  
  } 

.search {
  display: flex;
  
  
}



p {
  font-size: 28px;
  font-family: BPmono;
  /* margin-left: 18px; */
  letter-spacing: 2px;
  text-align: center;
  background-color: transparent;
}

