* {
  background-color: transparent;
  box-sizing: border-box;
  margin: 10px;
  padding: 10;
}

body,
html {
  height: auto;
  width: auto;
}

:root {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  width: auto;
}

main {
  flex: 1;
  /* padding: 20px auto; */
}

@font-face {
  font-family: 'CoffeeCake';
  src: url('CoffeCake.ttf') format('truetype');
}

a {
  font-weight: 500;
  color: red;
  text-decoration: inherit;
  gap: 10px;
}

a:hover {
  color: red;
}

a {
  color: inherit;
  text-decoration: none;
}

.y-navs {
  display: flex;
  font-family: CoffeeCake;
  font-size: 32px;
  padding: 14px;
  gap: 10px;
}

.y-navs a:first-of-type {
  flex: 1;
}

.y-navs a:not(:first-of-type) {
  margin: 0 0 0 16px;
}

.sbtn {
  background-color: red;
  border: 2px solid black;
  color: white;
  /* padding: 4px 36px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  transition-duration: 0.4s;
  cursor: pointer;
}



.y-wrap {
  margin: 0 auto;
  width: 100%;
      background-color: red;
        color: white;
        text-align: center;
        justify-content: center;
        font-family: CoffeeCake;
        width: 100%;
        font-size: 32px;
        padding: 14px;
}