* {
  box-sizing: border-box;
  font-family: Mom«t___;
  background-color: rgba(46, 45, 45, 0.5)
}

@font-face {
  font-family: 'CoffeeCake';
  src: url('CoffeCake.ttf') format('truetype')
}

@font-face {
  font-family: 'KOMIKABS';
  src: url('KOMIKABS.ttf') format('truetype')
}

@font-face {
  font-family: 'Billy Ohio';
  src: url('Billy Ohio.ttf') format('truetype')
}

@font-face {
  font-family: 'Mom«t___';
  src: url('Mom«t___.ttf') format('truetype')
  }

body,
html {
  height: 100%;
  width: 100%;
  color: white;
  
  background-image: url("https: //iili.io/H4kVS6X.jpg");
  /* font-weight: light-bold; */
  background-color: rgba(46, 45, 45, 0.5);
}

#root {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 100%;
}

footer {
background-color: rgba(46, 45, 45, 0.5);
  color: white;
  text-align: center;
  font-size: 24px;
  min-height: 60px;
  padding-top: 20px; 
}

header {
 max-height: 100%;
  
}

.y-wrap {
  max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

main {
  flex: 1;
  padding: 20px 0;


  
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
  gap: 10px;
  font-size: 24px;
  padding: 15px;
  border-style: solid;
  border-color: rgba(3, 207, 248);
border-radius: 45px;
margin-right: 70px
}

.y-navs {
  display: flex;
  background-color: rgba(46, 45, 45, 0.5);
  padding: 5px;
  padding-right: 35px;
  height: 50px;
}

.y-navs a:first-of-type {
  flex: 1;
  margin: 0 0 0 32px;
  padding:5px
 
}

.y-navs a:not(:first-of-type) {
  margin: 0 0 0 16px;
  padding:5px
  
}

a:hover {
  color: rgb(3, 207, 248);
  background-color: rgba(46, 45, 45, 0.5);
  border-color: white;
  padding: 5px
}

.landingPitch {
  padding-left: 145px;
  padding-right: 145px;
  display: flex;
  font-size: 40px;
  font-family: Mom«t___;
  letter-spacing: 3px;
  text-align: center;
  color: black;
  
}

.feature1 {
    max-width: 750px;
    letter-spacing: 3px;
    text-align: center;
    align-self: center;
}

.feature2 {
    max-width: 750px;
    letter-spacing: 3px;
    text-align: center;
    align-self: center;
}

.feature3 {
  max-width: 750px;
  letter-spacing: 3px;
  text-align: center;
  /* align-self: center; */
  align-content: center;
} 

li {
  font-size: 28px;
  font-family: Mom«t___;
  letter-spacing: 3px;
  justify-content: center;
  max-width: 750px;
  text-align: center;
  align-self: center;
}

#featureList {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  min-width: 750px;
  text-align: center;
  color: rgba(3, 207, 248);
  align-items: center;
  align-self: center;
  background-color: transparent;
  padding: 30px 0;
  position: relative;
}

#featureList:before {
  content: "";
  display: block;
  width: 50%;
  height: 10px;
  background-color: rgba(3, 207, 248);
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 75px;
}



.lbtn {
  text-align: center;
  font-size: 16px;
  font-family: Mom«t___;
  /* margin-top: 110px; */
  letter-spacing: 3px;
  row-gap: 1px;
  column-gap: 1px;
  cursor: pointer;
  max-width: 250px;
  max-height: 25px;
  align-self: center;
}

.sbtn {
    text-align: center;
    justify-content: center;
    position: center;
    font-size: 26px;
    font-family: Mom«t___;
    letter-spacing: 2px;
    cursor: pointer;
    width: 300px;
    max-height: 42px;
    
}

#header-search {
  text-align: center;
    font-size: 26px;
    font-family: Mom«t___;
    letter-spacing: 2px;
    cursor: pointer;
    max-height: 45px;
    width: 700px;
  }


.loutbtn {
    text-align: center;
    font-size: 16px;
    font-family: Mom«t___;
    letter-spacing: 3px;
    position: center;
    cursor: pointer;
    max-width: 250px;
    max-height: 25px;
    row-gap: 10px;
    align-self: center;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
    font-size: 32px;
    font-family: Mom«t___;
    letter-spacing: 2px;
    /* min-width: 100%; */
    cursor: pointer;
    background-color: transparent;
    min-height: 75px;
    column-gap: 1px;
    align-items: center;
    row-gap: 12px;
  }

p {
  font-size: 32px;
  font-family: Mom«t___;
  /* margin-left: 18px; */
  letter-spacing: 3px;
  text-align: center;
}