* {
  box-sizing: border-box;
  font-family: CoffeeCake;
  background-color: rgba(46, 45, 45, 0.5)
}

@font-face {
  font-family: 'CoffeeCake';
  src: url('CoffeCake.ttf') format('truetype')
}

@font-face {
  font-family: 'KOMIKABS';
  src: url('KOMIKABS.ttf') format('truetype')
}

@font-face {
  font-family: 'Billy Ohio';
  src: url('Billy Ohio.ttf') format('truetype')
}

@font-face {
  font-family: 'Mom«t___';
  src: url('Mom«t___.ttf') format('truetype')
  }

body,
html {
  height: 90%;
  width: 100%;
  color: white;
  /* font-weight: light-bold; */
  background-color: rgba(46, 45, 45, 0.5);
}

:root {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

footer {
background-color: rgba(46, 45, 45, 0.5);
  color: white;
  /* padding: 30px 0; */
  text-align: center;
  font-size: 24px;
  /* margin-top: 50px; */
  position: sticky fixed;
  /* margin-top: 90%; */
  /* margin-top: 35%; */
  min-height: 60px;
  padding-top: 20px;
  min-width: 100%;
  
}

.sticky {
  position: bottom sticky; 
  width: 100%;
  max-height: 60px;;
margin-top: auto; 
}

header {
  /* margin-top: 10px 5; */
  height: 100px;
}

main {
  flex: 1;
  padding: 20px auto
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
  gap: 10px;
  font-size: 24px;
  padding: 15px;
  border-style: solid;
  border-color: rgba(3, 207, 248);
border-radius: 45px;
margin-right: 70px
}

.y-navs {
  display: flex;
  background-color: rgba(46, 45, 45, 0.5);
  padding: 5px;
  padding-right: 35px;
  height: 50px;
}

.y-navs a:first-of-type {
  flex: 1;
  margin: 0 0 0 32px;
  padding:5px
 
}

.y-navs a:not(:first-of-type) {
  margin: 0 0 0 16px;
  padding:5px
  
}

a:hover {
  color: rgb(3, 207, 248);
  background-color: rgba(46, 45, 45, 0.5);
  border-color: white;
  padding: 5px
}

.landingPitch {
  padding-left: 45px;
  padding-right: 55px;
  display: flex;
  font-size: 23px;
  font-family: Mom«t___;
  letter-spacing: 3px;
  text-align: center;
  color: black;
  margin-top: -30px;
}

.feature1 {
    margin-top: -5px;
    font-weight: light-bold;
    max-width: 650px;
    letter-spacing: 3px;
}

.feature2 {
  margin-top: -5px;
    font-weight: light-bold;
    max-width: 650px;
    letter-spacing: 3px;
}

.feature3 {
  margin-top: -5px;
  font-weight: light-bold;
  max-width: 650px;
  letter-spacing: 3px;
} 

li {
  margin: 10px;
  font-size: 16px;
  font-family: Mom«t___;
  /* margin-top: 110px; */
  letter-spacing: 3px;
  /* row-gap: 10px; */
  /* column-gap: 1px; */
  justify-content: center;
  max-width: 650px;
  /* padding-left: 5px; */
}

#featureList {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  column-width: 250px;
  text-align: center;
  color: rgba(3, 207, 248);
  /* padding-right: 15px */
  max-width: 1450px;
  align-items: center;
}


.lbtn {
  text-align: center;
  font-size: 16px;
  font-family: Mom«t___;
  /* margin-top: 110px; */
  letter-spacing: 3px;
  row-gap: 1px;
  column-gap: 1px;
  cursor: pointer;
  max-width: 250px;
  max-height: 25px;
  align-self: center;
}

.sbtn {
    text-align: center;
    justify-content: center;
    position: center;
    font-size: 16px;
    font-family: Mom«t___;
    letter-spacing: 2px;
    cursor: pointer;
    width: 100px;
    max-height: 25px;
    
}

#header-search {
  text-align: center;
    font-size: 16px;
    font-family: Mom«t___;
    letter-spacing: 2px;
    cursor: pointer;
    max-height: 25px;
    width: 300px;
  }


.loutbtn {
    text-align: center;
    font-size: 16px;
    font-family: Mom«t___;
    letter-spacing: 3px;
    position: center;
    cursor: pointer;
    max-width: 250px;
    max-height: 25px;
    row-gap: 10px;
    align-self: center;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
    font-size: 16px;
    font-family: Mom«t___;
    letter-spacing: 2px;
    /* min-width: 100%; */
    cursor: pointer;
    background-color: transparent;
    min-height: 25px;
    column-gap: 1px;
}

p {
  font-size: 20px;
  font-family: Mom«t___;
  /* margin-left: 18px; */
  letter-spacing: 3px;
}